/** @define AppBase; use strict */
@import 'normalize.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,900);

html, body, #app, .AppBase {
	height: 100%;
	font-family: "Roboto", sans-serif;
}

.AppBase {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.PageWrap {
	min-height: 100%;
	margin-bottom: -165px; /* Footer + Navbar heights */
}

.PageWrap:after {
	content: "";
	display: block;
}

.Header + div {
  padding-top: 64px;
	z-index: 100;
}

.Categories, .HandlerHeader p, .Opportunity p {
  margin-right: 5%;
  margin-left: 5%;
}

.Opportunity .PageContent {
	z-index: 0;
}

.Opportunity .PageOverlay {
	background: #000000;
	opacity: 0.6;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.Opportunity .PageTopContent {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: height 300ms ease-in;
}