/** @define AppBase; use strict */
@import 'normalize.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,900);

html, body, #app, .AppBase {
	height: 100%;
	font-family: "Roboto", sans-serif;
}

a {
	color: #1854A2;
	text-decoration: none;
}

a:hover {
	color: #190F7B;
}

.AppBase {
/*	display: flex; */
  min-height: 100vh;
  flex-direction: column;
}

.PageWrap {
	min-height: 100%;
	margin-bottom: -165px; /*Footer + Navbar heights */
	flex: 1;
}

.PageWrap:after {
	content: "";
	display: block;
}

.Header + div {
  padding-top: 64px;
	z-index: 100;
}

.Categories, .HandlerHeader p, .Opportunity p {
  margin-right: 5%;
  margin-left: 5%;
}

.clearfix {
  overflow: auto;
}
