/** @define SingleMatch; use strict */

.SingleMatch {
  	flex-basis: 15%;
}

.SingleMatch .SingleMatchList {
	width: 750px;
	display: block;
	  	margin:auto;

}
.SingleMatch img { 
  border-radius: 50%;

}

.SingleMatch-child {}

.SingleMatch-child.is-state {}

