/** @define SingleMatch; use strict */

.SingleMatch {
	text-align: center;
  	flex: 1;
  	flex-basis: 15%;
  	padding: 0 5px 0 5px;
}

.SingleMatch .SingleMatchList {
	width:400px;
	text-align: center;
	display: block;


}
.SingleMatch img { 
  border-radius: 50%;

}

.SingleMatch-child {}

.SingleMatch-child.is-state {}

