/** @define CategoryItem; use strict */

.CategoryItem {
  background: red;
  border: 1px solid #e3e3e3;
  text-align: center;
  flex: 1;
  flex-basis: 33.3%;
}

.CategoryItem-child {}

.CategoryItem-child.is-state {}

