/** @define CategoryItem; use strict */

.CategoryItem {
  text-align: center;
  flex: 1;
  flex-basis: 20%;
}

.CategoryItem img {
  border-radius: 50%;
}

.CategoryItem-child {}

.CategoryItem-child.is-state {}

