.container .Jumbotron {
}

.container .Navigate {
width: 100%;
display: block;
}

.ShowResultsButton {
 text-align: center;
 display: block;
  padding: 0 5px 0 5px;
}

.Button.BackButton {
}

.Navigate .buttonShowResults {
}