/** @define QuizAnswer; use strict */
.SingleQuizAnswer  {
	text-align: center;
  flex: 1;
  flex-basis: 15%;
  padding: 0 5px 0 5px;
}

.QuizAnswer .SingleQuizAnswer {
	display: inline-block;

}
.QuizAnswer-child {
}

.QuizAnswer-child.is-state {
}

