/** @define QuizAnswer; use strict */
<<<<<<< HEAD
.QuizAnswer  {
	padding-left: 20px;
	padding-right: 20px;
}


.QuizAnswer-child {
padding-left: 20px;
	padding-right: 20px;

}

.QuizAnswer-child.is-state {
	padding-left: 20px;
	padding-right: 20px;
}

