/** @define OpportunityPageContent; use strict */


.OpportunityPageContent .HeaderImage {
	flex: 1;
	width: 100%;
}

.OpportunityPageContent .HeaderInfo {
	padding: 20px;
}

.OpportunityPageContent .Logo {
	float: left;
	padding-left: 15px;
}

.OpportunityPageContent h1, .OpportunityPageContent h2 {
	margin: 0;
	text-transform: uppercase;
}


