/** @define Jumbotron; use strict */
.Jumbotron {
	min-height: 400px; 
	overflow: hidden;
	text-align: center;
	flex-direction: column;
}

.Jumbotron h1 {
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2.5em;
}

.Jumbotron h2 {
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.7em;
}

.Jumbotron p {
	line-height: 1.5em;
}
.Jumbotron-child {}

.Jumbotron-child.is-state {}

@media screen and (max-width: 525px) {

  .Jumbotron {
		max-height: 200px; 
	}

	.Jumbotron h1 {
    font-size: 2em;
	}

}


