/** @define Jumbotron; use strict */

.Jumbotron {
	min-height: 400px; 
	overflow: hidden;
	text-align: center;
}

.Jumbotron h1 {
	text-transform: uppercase;
	top: 500px;
	color: gray;
}

.Jumbotron p {
	line-height: 1.5em;
}
.Jumbotron-child {}

.Jumbotron-child.is-state {}

