/** @define Jumbotron; use strict */

.Jumbotron {
	min-height: 400px; 
	overflow: hidden;
	text-align: center;

}

.Jumbotron h1 {
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 2.5em;
}

.Jumbotron p {
	line-height: 1.5em;
}
.Jumbotron-child {}

.Jumbotron-child.is-state {}

