/** @define CategoriesContainer; use strict */

.CategoriesContainer {
  background: pink;
  display: flex;
  margin-right: 10%;
  margin-left: 10%;
}


.CategoriesContainer-child {
}

.CategoriesContainer-child.is-state {}

