/** @define OpportunityPage; use strict */


.OrganizationPage .HeaderImage {
	flex: 1;
	width: 100%;
}

.OrganizationPage .HeaderInfo {
  padding: 20px;
	margin-right: 5%;
	margin-left: 5%;
}

.OrganizationPage h1, .OrganizationPage h2 {
	margin: 0;
	text-transform: uppercase;
}

#ContentBelowConnect {
	margin: 70px 5% 0 5%;
}

#ContentBelowConnect .OrganizationTags {
	margin: 0 auto;
	text-align: center;
	width: 90%;
}

#ContentBelowConnect .OrganizationTags .CategoryItem {
	width: 100px;
	height: 100px;
	float: left;
	margin: auto;
}