/** @define Footer; use strict */

.Footer, .PageWrap:after {
	height: 100px;
	flex: 1;
}

.Footer {
	margin-top: 50px;
	padding-top: 30px;
	text-align: center;
	width: 100%;
}

.Footer .credits {
	font-size: 12px;
	line-height: 16px;
	text-transform: uppercase;
	padding-bottom: 15px;
}
.Footer-child {}

.Footer-child.is-state {}

