/** @define HandlerHeader; use strict */

.HandlerHeader {
  flex: 1;
}

.HandlerHeader h1, h3 {
  text-align: center;
}

.Home .HandlerHeader h1 {
	font-weight: 400;
}

.Container .HandlerHeader h3 {
	font-weight: 400;
}

.HandlerHeader p {
  text-align: left;
}

.HandlerHeader-child {}

.HandlerHeader-child.is-state {}

